.body-card {
  margin-top: 20px;
}

.icon-padding {
  padding-top: 10px;
  padding-bottom: 20px;
}

.desc {
  font-size: 15px;
  font-weight: 500;
}
.clients {
  margin-left: 50px;
  margin-right: auto;
}
